body {
    z-index: 5;
    background-color: #FAFAFA;
}

@media only screen and (min-device-width: 500px) {
    .board {
        width: 420px;
        height: 419px;
        margin: auto;
        z-index: 10;
        margin-top: 80px;
    }
}

@media only screen and (max-device-width: 500px) {
    .board {
        width: 912px;
        height: 912px;
        margin: auto;
        z-index: 10;
        margin-top: 150px;
    }
}

@media only screen and (min-device-width: 500px) {
    .tile{
        margin:auto;
        float: left;
        width:100px;
        height: 100px;
        border: #C1B19C solid 2px;
        z-index: 10;
    }
    .top{
        border-top: #C1B19C solid 4px;
    }
    .bottom{
        border-bottom: #C1B19C solid 4px;
    }
    .right{
        border-right: #C1B19C solid 4px;
    }
    .left{
        border-left: #C1B19C solid 4px;
    }
}

@media only screen and (max-device-width: 500px) {
    .tile {
        margin: auto;
        float: left;
        width: 220px;
        height: 220px;
        border: #C1B19C solid 4px;
        z-index: 10;
    }
}

.tileValue {
    text-align: center;
}

#popUp {
    margin: auto;
    width: 408px;
    height: 200px;
    border: black 1px solid;
    z-index: -5;
}

#controls {
    margin: auto;
    display: table;
}

.button{
    background-color: #F47C64;
    border: solid 1px #F47C64;
    color: white;
    /*padding: 8px 16px;*/
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
    -webkit-transition-duration: .5s; /* Safari */
    transition-duration: .5s;
}
.button:hover{
    background-color: white;
    color: #F47C64;
    border: solid 1px #F47C64;
}

@media only screen and (min-device-width: 500px) {
    .button{
        display: none;
    }
}

@media only screen and (max-device-width: 500px) {
    .button {
        margin-top: 50px;
        padding: 32px 64px;
        font-size: 35px;
    }
}
@media only screen and (min-device-width: 500px) {
    .tileValue{
        margin-top: 30px;
    }
}

@media only screen and (max-device-width: 500px) {
    .tileValue {
        margin-top: 75px;
        font-size: 70px;
    }
}


@media only screen and (max-device-width: 500px) {
    #creator {
        font-size: 30px;
    }
}

#creator{
    text-align: center;
    color: #F47C64;
    margin: auto;
}
